<ul id="menu">
    <li>@Html.ActionMenuItem("Home", "Index", "Home")</li>
    <li>@Html.ActionMenuItem("Production Manager", "ProductionManager", "Home")</li>
    <li>@Html.ActionMenuItem("Artist", "Artist", "Home")</li>
    <li>@Html.ActionMenuItem("Tour Manager", "TourManager", "Home")</li>
    <li>@Html.ActionMenuItem("About", "About", "Home")</li>
    <li>@Html.ActionMenuItem("Contact", "Contact", "Home")</li>
    <li>@Html.ActionMenuItem("Pricing", "Pricing", "Home")</li>
</ul>