
<h2>Find My Shit</h2>

@using (Ajax.BeginForm("ForgotPasswordPartial", "Account", new AjaxOptions { UpdateTargetId = "viewForgotPassword", HttpMethod = "POST" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Forgot Password Form</legend>
        <ol>
            <li>
                @Html.Label("Find User Name", new { @for = "UserName" })
                @Html.TextBox("UserName")
            </li>
            <li>
                @Html.Label("Or Email", new { @for = "Email" })
                @Html.TextBox("Email")
            </li>
            <li>
                <span style="color:red;">@TempData["Message"]</span>
            </li>
        </ol>
        <input type="submit" value="Recover" />
    </fieldset>
}