
@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">

    <div id="viewLogin" class="view">
        @Html.Partial("LoginPartial")
        <div>
            Or <a href="Login#/Register">Register</a> if you don't have an account.
        </div>
        <div>
            Press <a href="Login#/ForgotPassword">here</a> if you forgot your password.
        </div>
    </div>
    <div id="viewRegister" class="view">
        @Html.Partial("RegisterPartial")
    </div>
    <div id="viewForgotPassword" class="view">
        @Html.Partial("ForgotPasswordPartial")
    </div>
    <section class="social" id="socialLoginForm">
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </section>
    @if (Request["Register"] != null)
    {
        <div>hello register</div>
    }
</section>
    
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.passstrength.js"></script>
    <script>

        (function ($) {
            var app = $.sammy('#loginForm', function () {

                this.get("#/Login", function (context) {
                    $(".view").hide();
                    $("#viewLogin").show();
                });

                this.get("#/Register", function (context) {
                    $(".view").hide();
                    $("#viewRegister").show();
                });

                this.get("#/ForgotPassword", function (context) {
                    $(".view").hide();
                    $("#viewForgotPassword").show();
                });

            });

            $(function () {
                app.run('#/Login');
            });
        })(jQuery);

        // Register Partial Handling
        // =========================
        $(function () {
            $('#viewRegister #UserName').on('keyup blur change', function () {
                
                var account = $(this).val();
                if (account != '')
                    $.get('/api/account/get?name=' + encodeURIComponent(account), function (data) {
                        $('#viewRegister .user-found').removeClass('true').removeClass('false').addClass(data.toString());
                    });
                else
                    $('#viewRegister .user-found').removeClass('true').removeClass('false');
            });

            $('#viewRegister input[type=password]').first().password_strength({
                minLength: 8,
                specialLength: 0
            });
        });
    </script>
}
