
@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm" class="narrow">
    <style>
        .admin a { color: rgb(239, 238, 239); }
    </style>
    <div class="admin" style="float:right;">
        @Html.ActionLink("Admin", "Admin")
    </div>

    <div id="viewLogin" class="view">
        @Html.Partial("LoginPartial")
    </div>
    <div id="viewRegister" class="view">
        @Html.Partial("RegisterPartial")
    </div>
    <div id="viewForgotPassword" class="view">
        @Html.Partial("ForgotPasswordPartial")
    </div>
    @if (Request["Register"] != null)
    {
        <div>hello register</div>
    }
</section>
    
@section Scripts {
    @Scripts.Render("~/bundles/login")
}
