
@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">

    <div id="viewLogin" class="view">
        @Html.Partial("LoginPartial")
        <div>
            
            Or @Html.ActionHash("Register", "Login", "Account", "Register", null) if you don't have an account.
        </div>
        <div>
            Press @Html.ActionHash("here", "Login", "Account", "ForgotPassword", null) if you forgot your password.
        </div>
    </div>
    <div id="viewRegister" class="view">
        @Html.Partial("RegisterPartial")
    </div>
    <div id="viewForgotPassword" class="view">
        @Html.Partial("ForgotPasswordPartial")
    </div>
    <section class="social" id="socialLoginForm">
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </section>
    @if (Request["Register"] != null)
    {
        <div>hello register</div>
    }
</section>
    
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.passstrength.js"></script>
    <script src="~/Scripts/jquery.qTip.min.js"></script>
    <script src="~/Scripts/Pages/lz.pages.login-1.0.0.js"></script>    

    @Styles.Render("~/Content/themes/base/css")
    <link href="~/Content/qTip/jquery.qtip.min.css" rel="stylesheet" />
}
