@model Listonz.Models.LoginModel

@using (Ajax.BeginForm("LoginPartial", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, new AjaxOptions { UpdateTargetId = "viewLogin", HttpMethod = "POST" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li class="li-input">
                <span class="ui-icon ui-icon-person" data-bind="qtip: 'next-ph'"></span>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li class="li-input">
                <span class="ui-icon ui-icon-locked"></span>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        @Html.ValidationSummary(true)
        <div class="login-button">
            <input type="submit" value="Log in" />
        </div>
        <div class="login-button">
            <input type="button" onclick="window.location = '@Html.ActionHashUrl("Login", "Account", "Register")'" value="Register" />
        </div>
    </fieldset>
    <div style="display:none;">
        Or @Html.ActionHash("Register", "Login", "Account", "Register", null) if you don't have an account.
    </div>
    <div>
        Press @Html.ActionHash("here", "Login", "Account", "ForgotPassword", null) if you forgot your password.
    </div>
}

<section class="social" id="socialLoginForm">
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>