@model Listonz.Models.LoginModel

@using (Ajax.BeginForm("LoginPartial", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, new AjaxOptions { UpdateTargetId = "viewLogin", HttpMethod = "POST" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        @Html.ValidationSummary(true)
        <div class="login-button">
            <input type="submit" value="Log in" />
        </div>
    </fieldset>
    <div>
        Or @Html.ActionHash("Register", "Login", "Account", "Register", null) if you don't have an account.
    </div>
    <div>
        Press @Html.ActionHash("here", "Login", "Account", "ForgotPassword", null) if you forgot your password.
    </div>
}
