@model Listonz.Models.RegisterModel

@using (Ajax.BeginForm("RegisterPartial", "Account", new AjaxOptions { UpdateTargetId = "viewRegister", HttpMethod = "POST" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.HintFor(m => m.UserName)
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                <div class="user-found" />
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li class="pass-strength">
                @Html.HintFor(m => m.Password)
                @Html.LabelFor(m => m.Password)
                <div style="position:relative">
                    @Html.PasswordFor(m => m.Password)
                </div>
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.EmailId)
                @Html.TextBoxFor(m => m.EmailId)
            </li>
            <li>
                @Html.LabelFor(m => m.Details)
                @Html.TextBoxFor(m => m.Details)
            </li>
             <li>
                @Html.LabelFor(m => m.AdminPassword)
                @Html.PasswordFor(m => m.AdminPassword)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.Agreement) 
                @Html.LabelFor(m => m.Agreement, new { @class = "leagal", termslink = "terms" })
                @Html.ValidationMessageFor(m => m.Agreement)
                <div id="leagalMessage">
                    A Bunch of Leagal Stuff
                </div>
            </li>
        </ol>
        <input type="submit" value="Register" />
        <div>Already have an account?</div>
        <input type="button" value="Log in" onclick="window.location = '@Html.ActionHashUrl("Login", "Account", "Login")'" />
    </fieldset>
    @Html.ValidationSummary()
} 
<section class="social" id="socialLoginForm">
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>