@{
    ViewBag.Title = "Listonz";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>Placeholders:</h3>
<ol class="round" id="menu">
    @Html.ActionMenuItem("Production Manager", "ProductionManager", "Home")
    @Html.ActionMenuItem("Artist", "Artist", "Home")
    @Html.ActionMenuItem("Tour Manager", "TourManager", "Home")
</ol>